--- 
title: 'Card' 
category: 'Components' 
---

<section>
  <div class="card mb-2">
    <div class="card-body">
      <h2 class="card-title">Example</h2>
      <!-- The test card -->
      <div class="card">
        <img src="{{ site.baseurl }}/img/card-test-img.png" alt="The Eluseum Logo" class="card-img">
        <div class="card-body">
          <h3 class="card-title">Card title</h3>
          <p class="card-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores ut aspernatur, ipsa commodi ratione eos ab accusantium
            perspiciatis quae repellat, iusto officiis quas aliquid excepturi enim quod assumenda facere consequatur labore voluptate
            nam nobis? Illum similique omnis ab ut commodi, blanditiis illo, distinctio harum tempora magni quis accusantium? Recusandae,
            voluptate.
          </p>
        </div>
        <div class="card-actions px-1">
          <a href="#" class="btn">
            <button type="button" class="btn btn-primary">Primary</button>
          </a>
          <a href="#" class="btn">
            <button type="button" class="btn btn-secondary">Secondary</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Code</h2>
      <div class="card-text">
        <code>
          <pre>&lt;div class="card"&gt;
              &lt;img src="{{ site.baseurl }}/img/card-test-img.png" alt="The Eluseum Logo" class="card-img"&gt;
              &lt;div class="card-body"&gt;
                &lt;h3 class="card-title"&gt;Card title&lt;/h3&gt;
                &lt;p class="card-text"&gt;
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores ut aspernatur, ipsa commodi ratione eos ab accusantium
                  perspiciatis quae repellat, iusto officiis quas aliquid excepturi enim quod assumenda facere consequatur labore voluptate
                  nam nobis? Illum similique omnis ab ut commodi, blanditiis illo, distinctio harum tempora magni quis accusantium? Recusandae,
                  voluptate.
                &lt;/p&gt;
              &lt;/div&gt;
              &lt;div class="card-actions px-1"&gt;
                &lt;a href="#" class="btn"&gt;
                  &lt;button type="button" class="btn btn-primary"&gt;Primary&lt;/button&gt;
                &lt;/a&gt;
                &lt;a href="#" class="btn"&gt;
                  &lt;button type="button" class="btn btn-secondary"&gt;Secondary&lt;/button&gt;
                &lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;</pre>
        </code>
      </div>
    </div>
  </div>
</section>