--- 
title: 'Buttons' 
category: 'Components' 
---

<section>
  <h2>Example</h2>

  <!-- Buttons in all the colors -->
  <div class="bg-light pa-1 sdw-a-1">
    <div class="wrapper wrapper-wrap wrapper-wrap-margins">
        <a href="#" class="btn">
          <button type="button" class="btn btn-primary">Primary</button>
        </a>
        <a href="#" class="btn">
          <button type="button" class="btn btn-secondary">Secondary</button>
        </a>
        <a href="#" class="btn">
          <button type="button" class="btn btn-success">Success</button>
        </a>
        <a href="#" class="btn">
          <button type="button" class="btn btn-danger">Danger</button>
        </a>

        <a href="#" class="btn">
          <button type="button" class="btn btn-warning">Warning</button>
        </a>

        <a href="#" class="btn">
          <button type="button" class="btn btn-info">Info</button>
        </a>

        <a href="#" class="btn">
          <button type="button" class="btn btn-light">Light</button>
        </a>

        <a href="#" class="btn">
          <button type="button" class="btn btn-dark">Dark</button>
        </a>

        <a href="#" class="btn">
          <button type="button" class="btn btn-muted">Muted</button>
        </a>

        <a href="#" class="btn">
          <button type="button" class="btn btn-white">White</button>
        </a>
        <a href="#" class="btn">
          <button type="button" class="btn btn-black">Black</button>
        </a>
    </div>
  </div>

</section>

<section>
  <h2>Code</h2>
  <div class="bg-light pa-1 sdw-a-1">
    <code>
      <pre>&lt;a href="#" class="btn"&gt;
        &lt;button type="button" class="btn btn-primary"&gt;Primary&lt;/button&gt;
      &lt;/a&gt;
      &lt;a href="#" class="btn"&gt;
        &lt;button type="button" class="btn btn-secondary"&gt;Secondary&lt;/button&gt;
      &lt;/a&gt;
      &lt;a href="#" class="btn"&gt;
        &lt;button type="button" class="btn btn-success"&gt;Success&lt;/button&gt;
      &lt;/a&gt;
      &lt;a href="#" class="btn"&gt;
        &lt;button type="button" class="btn btn-danger"&gt;Danger&lt;/button&gt;
      &lt;/a&gt;
      
      &lt;a href="#" class="btn"&gt;
        &lt;button type="button" class="btn btn-warning"&gt;Warning&lt;/button&gt;
      &lt;/a&gt;
      
      &lt;a href="#" class="btn"&gt;
        &lt;button type="button" class="btn btn-info"&gt;Info&lt;/button&gt;
      &lt;/a&gt;
      
      &lt;a href="#" class="btn"&gt;
        &lt;button type="button" class="btn btn-light"&gt;Light&lt;/button&gt;
      &lt;/a&gt;
      
      &lt;a href="#" class="btn"&gt;
        &lt;button type="button" class="btn btn-dark"&gt;Dark&lt;/button&gt;
      &lt;/a&gt;
      
      &lt;a href="#" class="btn"&gt;
        &lt;button type="button" class="btn btn-muted"&gt;Muted&lt;/button&gt;
      &lt;/a&gt;
      
      &lt;a href="#" class="btn"&gt;
        &lt;button type="button" class="btn btn-white"&gt;White&lt;/button&gt;
      &lt;/a&gt;
      &lt;a href="#" class="btn"&gt;
        &lt;button type="button" class="btn btn-black"&gt;Black&lt;/button&gt;
      &lt;/a&gt;</pre>
    </code>
  </div>
</section>

<section>
  <h2>Customize</h2>
</section>