--- 
title: 'Alerts' 
category: 'Components' 
---

<section>
  <div class="card mb-2">
    <div class="card-body">
      <h2 class="card-title">Example</h2>
      <div class="alert alert-primary mb-1">
        Primary
      </div>
      <div class="alert alert-secondary mb-1">
        Secondary
      </div>
      <div class="alert alert-success mb-1">
        Success
      </div>
      <div class="alert alert-danger mb-1">
        Danger
      </div>
      <div class="alert alert-warning mb-1">
        Warning
      </div>
      <div class="alert alert-info mb-1">
        Info
      </div>
      <div class="alert alert-light mb-1">
        Light
      </div>
      <div class="alert alert-dark mb-1">
        Dark
      </div>
      <div class="alert alert-muted mb-1">
        Muted
      </div>
      <div class="alert alert-white mb-1">
        White
      </div>
      <div class="alert alert-black">
        Black
      </div>
    </div>
  </div>
</section>

<section>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Code</h2>
      <code>
            <pre>&lt;div class="alert alert-primary mb-1"&gt;
              Primary
            &lt;/div&gt;
            &lt;div class="alert alert-secondary mb-1"&gt;
              Secondary
            &lt;/div&gt;
            &lt;div class="alert alert-success mb-1"&gt;
              Success
            &lt;/div&gt;
            &lt;div class="alert alert-danger mb-1"&gt;
              Danger
            &lt;/div&gt;
            &lt;div class="alert alert-warning mb-1"&gt;
              Warning
            &lt;/div&gt;
            &lt;div class="alert alert-info mb-1"&gt;
              Info
            &lt;/div&gt;
            &lt;div class="alert alert-light mb-1"&gt;
              Light
            &lt;/div&gt;
            &lt;div class="alert alert-dark mb-1"&gt;
              Dark
            &lt;/div&gt;
            &lt;div class="alert alert-muted mb-1"&gt;
              Muted
            &lt;/div&gt;
            &lt;div class="alert alert-white mb-1"&gt;
              White
            &lt;/div&gt;
            &lt;div class="alert alert-black"&gt;
              Black
            &lt;/div&gt;</pre>
          </code>
    </div>
  </div>
</section>