---
title: 'Home'
navbarTitle: 'The Eluseum Framework'
layout: 'home'
---

<h3>Layout</h3>

<ul>
  {% for post in site.posts %}

    {% if post.category contains 'Layout' %}
      <li>
        <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endif %}

  {% endfor %}
</ul>

<h3>Content</h3>

<ul>
  {% for post in site.posts %}

    {% if post.category contains 'Content' %}
      <li>
        <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endif %}

  {% endfor %}
</ul>

<h3>Components</h3>

<ul>
  {% for post in site.posts %}

    {% if post.category contains 'Component' %}
      <li>
        <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endif %}

  {% endfor %}
</ul>

<h3>Utilities</h3>

<ul>
  {% for post in site.posts %}

    {% if post.category contains 'Utils' %}
      <li>
        <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endif %}

  {% endfor %}
</ul>