---
title: Startseite
---

<h1>The Eluseum Framework</h1>
<h3>Layout</h3>

<ul>
  {% for post in site.posts %}

    {% if post.category contains 'Layout' %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endif %}

  {% endfor %}
</ul>

<h3>Content</h3>

<ul>
  {% for post in site.posts %}

    {% if post.category contains 'Content' %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endif %}

  {% endfor %}
</ul>

<h3>Components</h3>

<ul>
  {% for post in site.posts %}

    {% if post.category contains 'Component' %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endif %}

  {% endfor %}
</ul>

<h3>Utilities</h3>

<ul>
  {% for post in site.posts %}

    {% if post.category contains 'Utils' %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endif %}

  {% endfor %}
</ul>