/* Wrapper (For simple flexbox) */

.wrapper {
  display: flex;
}

/* Wrapper (flex-wrap enabled) */
.wrapper-wrap {
  flex-wrap: wrap;
}

/* Row */

/* Display as flex */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

/* Col */

/* Add the right margins */

.col {
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* Span accordingly */

.col-2 {
  flex-grow: 2;
}

.col-3 {
  flex-grow: 3;
}

.col-4 {
  flex-grow: 4;
}

.col-5 {
  flex-grow: 5;
}

.col-6 {
  flex-grow: 6;
}

.col-7 {
  flex-grow: 7;
}

.col-8 {
  flex-grow: 8;
}

.col-9 {
  flex-grow: 9;
}

.col-10 {
  flex-grow: 10;
}

.col-11 {
  flex-grow: 11;
}

.col-12 {
  flex-grow: 12;
}