--- 
title: 'Grid' 
category: 'Layout' 
---

<section>
  <h2>Example</h2>

  <div class="  bg-light sdw-a-1 py-1">
    <div class="row">
      <div class="col col-2 bg-warning mb-0">
        2 Columns
      </div>
      <div class="col col-8 text-light bg-success mb-0">
        8 Columns
      </div>
      <div class="col col-2 text-light bg-dark mb-0">
        2 Columns
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Code</h2>
  <div class="  bg-light sdw-a-1 pt-3 pb-2">
    <code>
        <pre>
          &lt;div class="row"&gt;
            &lt;div class="col col-2 mb-0"&gt;
              Lorem ipsum dolor sit amet.
            &lt;/div&gt;
            &lt;div class="col col-8 mb-0"&gt;
              Lorem ipsum dolor sit amet.
            &lt;/div&gt;
            &lt;div class="col col-2 mb-0"&gt;
              Lorem ipsum dolor sit amet.
            &lt;/div&gt;
          &lt;/div&gt;
        </pre>
      </code>
  </div>
</section>

<section>
  <h2>Customize</h2>
</section>