--- 
title: 'Container' 
category: 'Layout' 
---

<section>
  <h2>Example</h2>

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, esse. Consequuntur illo odit neque obcaecati error quia
  quaerat consequatur, assumenda asperiores saepe odio velit culpa tempora ullam? Nisi, omnis deleniti.

</section>

<section>
  <h2>Code</h2>

  <xmp>
    <div class="container">
      Lorem ipsum dolor sit amet consectetur.
    </div>
  </xmp>
</section>

<section>
  <h2>Customize</h2>
</section>