--- 
title: 'Alignment' 
category: 'Layout' 
---

<section>
  <h2>Example</h2>

  <h3>Text</h3>
  <!-- First example with text -->
  <div class="wrapper">
    <p class="align-left">
      I align to the left.
    </p>
    <p class="align-center">
      I am centered.
    </p>
    <p class="align-right">
      I align to the right.
    </p>
  </div>
  <!-- Second example with grid -->
  <div class="row bg-success">
    <div class="col-4">
      <div class="wrapper">
        <p class="align-center justify-bottom bg-primary text-light">
          I am centered and on the bottom!
        </p>
      </div>
    </div>
    <div class="col-4">
      <div class="wrapper">
        <p class="justify-top float-right bg-secondary text-light">
          I am floating to the right and on the top!
        </p>
      </div>
    </div>
    <div class="col-4 justify-center bg-warning">
      <div class="wrapper">
        <div class="float-left">
          I am floating to the left and in the center!
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Code</h2>

  <xmp>
    <!-- First example with text -->
    <div class="wrapper">
      <p class="align-left">
        I align to the left.
      </p>
      <p class="align-center">
        I am centered.
      </p>
      <p class="align-right">
        I align to the right.
      </p>
    </div>
    <!-- Second example with grid -->
    <div class="row bg-success">
      <div class="col-4">
        <div class="wrapper">
          <p class="align-center justify-bottom bg-primary text-light">
            I am centered and on the bottom!
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="wrapper">
          <p class="justify-top float-right bg-secondary text-light">
            I am floating to the right and on the top!
          </p>
        </div>
      </div>
      <div class="col-4 justify-center bg-warning">
        <div class="wrapper">
          <div class="float-left">
            I am floating to the left and in the center!
          </div>
        </div>
      </div>
    </div>
  </xmp>
</section>

<section>
  <h2>Customize</h2>
</section>