--- 
title: 'Container' 
category: 'Layout' 
---

<section>
  <h2>Example</h2>

  <div class="  bg-light sdw-a-1">
    <div class="container pa-1">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, esse. Consequuntur illo odit neque obcaecati error quia
quaerat consequatur, assumenda asperiores saepe odio velit culpa tempora ullam? Nisi, omnis deleniti.
    </div>
    
  </div>

</section>

<section>
  <h2>Code</h2>
  <div class="  bg-light sdw-a-1 pt-3 pb-2">
    <code>
        <pre>
          &lt;div class="container"&gt;
            Lorem ipsum dolor sit amet consectetur.
          &lt;/div&gt;
        </pre>
      </code>
  </div>
</section>

<section>
  <h2>Customize</h2>
</section>