/* Responsive Utils */

@media screen and (max-width: 950px) {
  .container {
    padding: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 750px) {
  .container {
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding: 1rem;
    margin: 0;
  }
  .col:last-child {
    margin-bottom: 0rem;
  }
}