<!doctype html>
<html lang="de">

<head>
  <!-- Site title -->
  <title>Eluseum Framework | {{ page.title }}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Common styles -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <div class="container-fluid bg-dark sdw-a-1">
    <div class="container py-1 text-light">
      <div class="row">
        <div class="col ma-0">
          <div class="wrapper">
            <div class="row">
              <div class="col ma-0 float-left">
                <h1>
                  <a href="{{ site.baseurl }}/index.html" class="link-light">{{ page.category }}</a>
                </h1>
              </div>
              <div class="col ma-0 float-left">
                <h1>&nbsp;/&nbsp;{{ page.title }}</h1>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col ma-0 justify-center">
          <a href="{{ site.baseurl }}/index.html">
            <button type="button" class="btn btn-light btn-danger-on-hover float-right link-light">Close</button>
          </a> 
        </div>
      </div>
    </div>
  </div>
  <!-- Main container -->
  <div class="container pt-1">
    {{ content }}
  </div>
</body>

</html>